@font-face {
    font-family: 'jobvite-icons';
    src:url('/__assets__/fonts/jobvite-icons/fonts/jobvite-icons.eot?v=01756894597');
    src:url('/__assets__/fonts/jobvite-icons/fonts/jobvite-icons.eot?#iefix?v=01756894597') format('embedded-opentype'),
        url('/__assets__/fonts/jobvite-icons/fonts/jobvite-icons.ttf?v=01756894597') format('truetype'),
        url('/__assets__/fonts/jobvite-icons/fonts/jobvite-icons.woff?v=01756894597') format('woff'),
        url('/__assets__/fonts/jobvite-icons/fonts/jobvite-icons.svg#jobvite-icons?v=01756894597') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'jobvite-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering ============ */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-requisition-search:before {
    content: "\e6ac";
}
.icon-collapse-double:before {
    content: "\e6aa";
}
.icon-move-horizontal:before {
    content: "\e6a9";
}
.icon-bar-graph:before {
    content: "\e6a8";
}
.icon-approvals:before {
    content: "\e6a4";
}
.icon-interview:before {
    content: "\e6a5";
}
.icon-widget-collapse:before {
    content: "\e6a6";
}
.icon-widget-expand:before {
    content: "\e6a7";
}
.icon-preview-resume:before {
    content: "\e6a1";
}
.icon-j-block:before {
    content: "\e6a2";
}
.icon-camera:before {
    content: "\e6a3";
}
.icon-caution:before {
    content: "\e69f";
}
.icon-customize-report:before {
    content: "\e6a0";
}
.icon-icon-clock:before {
    content: "\e69e";
}
.icon-j:before {
    content: "\e69d";
}
.icon-videos:before {
    content: "\e698";
}
.icon-ticket:before {
    content: "\e699";
}
.icon-logout:before {
    content: "\e69a";
}
.icon-community:before {
    content: "\e69b";
}
.icon-chat:before {
    content: "\e69c";
}
.icon-my-account:before {
    content: "\e697";
}
.icon-arrow-3-left:before {
    content: "\e66a";
}
.icon-radio-empty:before {
    content: "\e64f";
}
.icon-radio-checked:before {
    content: "\e655";
}
.icon-checkbox-minus:before {
    content: "\e66b";
}
.icon-checkbox-checked:before {
    content: "\e67d";
}
.icon-checkbox-blank:before {
    content: "\e600";
}
.icon-paste:before {
    content: "\e694";
}
.icon-bing-full:before {
    content: "\e695";
}
.icon-globe:before {
    content: "\e602";
}
.icon-maybe:before {
    content: "\e609";
}
.icon-up-arrow2:before {
    content: "\e62a";
}
.icon-dropbox-onecolor:before {
    content: "\e661";
}
.icon-powered-by:before {
    content: "\e678";
}
.icon-down-arrow2:before {
    content: "\e68d";
}
.icon-not-available:before {
    content: "\e68e";
}
.icon-gplus-onecolor:before {
    content: "\e68c";
}
.icon-panel-arrow-reverse:before {
    content: "\e601";
}
.icon-webcam:before {
    content: "\e603";
}
.icon-warning:before {
    content: "\e604";
}
.icon-volume:before {
    content: "\e605";
}
.icon-video-help:before {
    content: "\e606";
}
.icon-upload-top:before {
    content: "\e607";
}
.icon-upload-bottom:before {
    content: "\e608";
}
.icon-unlock:before {
    content: "\e60a";
}
.icon-twitter-onecolor:before {
    content: "\e60b";
}
.icon-thumbs-up:before {
    content: "\e60c";
}
.icon-thumbs-down:before {
    content: "\e60d";
}
.icon-text-view:before {
    content: "\e60e";
}
.icon-tasks:before {
    content: "\e60f";
}
.icon-talentwise-full-square:before {
    content: "\e610";
}
.icon-tag:before {
    content: "\e611";
}
.icon-stop:before {
    content: "\e612";
}
.icon-step-forward:before {
    content: "\e613";
}
.icon-step-back:before {
    content: "\e614";
}
.icon-src-web-search:before {
    content: "\e615";
}
.icon-src-web-page:before {
    content: "\e616";
}
.icon-src-twitter:before {
    content: "\e617";
}
.icon-src-social-network:before {
    content: "\e618";
}
.icon-src-referral:before {
    content: "\e619";
}
.icon-src-notification:before {
    content: "\e61a";
}
.icon-src-linkedin:before {
    content: "\e61b";
}
.icon-src-job-board:before {
    content: "\e61c";
}
.icon-src-internal:before {
    content: "\e61d";
}
.icon-src-import:before {
    content: "\e61e";
}
.icon-src-facebook:before {
    content: "\e61f";
}
.icon-src-employee-role:before {
    content: "\e620";
}
.icon-src-email:before {
    content: "\e621";
}
.icon-src-custom:before {
    content: "\e622";
}
.icon-src-career-site:before {
    content: "\e623";
}
.icon-snippet-view:before {
    content: "\e624";
}
.icon-skip:before {
    content: "\e625";
}
.icon-skip-circle:before {
    content: "\e626";
}
.icon-share:before {
    content: "\e627";
}
.icon-share-contact:before {
    content: "\e628";
}
.icon-settings:before {
    content: "\e629";
}
.icon-search:before {
    content: "\e62b";
}
.icon-save-copy:before {
    content: "\e62c";
}
.icon-right-arrow2:before {
    content: "\e68f";
}
.icon-rewind:before {
    content: "\e62d";
}
.icon-retake:before {
    content: "\e62e";
}
.icon-request:before {
    content: "\e62f";
}
.icon-refresh3:before {
    content: "\e630";
}
.icon-refresh2:before {
    content: "\e631";
}
.icon-refresh:before {
    content: "\e632";
}
.icon-refer-a-friend:before {
    content: "\e633";
}
.icon-record:before {
    content: "\e634";
}
.icon-quick-view:before {
    content: "\e635";
}
.icon-profile:before {
    content: "\e636";
}
.icon-profile-square:before {
    content: "\e637";
}
.icon-profile-circle:before {
    content: "\e638";
}
.icon-print:before {
    content: "\e639";
}
.icon-preview:before {
    content: "\e63a";
}
.icon-pop-out:before {
    content: "\e63b";
}
.icon-pop-in:before {
    content: "\e63c";
}
.icon-play:before {
    content: "\e63d";
}
.icon-play-circle:before {
    content: "\e63e";
}
.icon-pin:before {
    content: "\e63f";
}
.icon-pause:before {
    content: "\e640";
}
.icon-panel-arrow:before {
    content: "\e641";
}
.icon-oneco-logo:before {
    content: "\e642";
}
.icon-note:before {
    content: "\e643";
}
.icon-move:before {
    content: "\e644";
}
.icon-movable:before {
    content: "\e645";
}
.icon-mobile-phone:before {
    content: "\e646";
}
.icon-mobile-next:before {
    content: "\e647";
}
.icon-mobile-expand:before {
    content: "\e648";
}
.icon-mobile-collapse:before {
    content: "\e649";
}
.icon-mirror:before {
    content: "\e64a";
}
.icon-minimize:before {
    content: "\e64b";
}
.icon-microphone:before {
    content: "\e64c";
}
.icon-message:before {
    content: "\e64d";
}
.icon-menu-flyout:before {
    content: "\e64e";
}
.icon-maximize:before {
    content: "\e650";
}
.icon-logout2:before {
    content: "\e651";
}
.icon-lock:before {
    content: "\e652";
}
.icon-list-view:before {
    content: "\e653";
}
.icon-linkedin-onecolor:before {
    content: "\e654";
}
.icon-link:before {
    content: "\e656";
}
.icon-left-arrow2:before {
    content: "\e657";
}
.icon-left-arrow-circle2:before {
    content: "\e658";
}
.icon-jobvite-logo:before {
    content: "\e659";
}
.icon-insert:before {
    content: "\e65a";
}
.icon-import-people:before {
    content: "\e65b";
}
.icon-hireright-full-square:before {
    content: "\e65c";
}
.icon-help:before {
    content: "\e65d";
}
.icon-half-star:before {
    content: "\e65e";
}
.icon-grid-view:before {
    content: "\e65f";
}
.icon-graph-point:before {
    content: "\e660";
}
.icon-graph-line:before {
    content: "\e662";
}
.icon-graph-bar:before {
    content: "\e663";
}
.icon-google-analytics:before {
    content: "\e664";
}
.icon-globe2:before {
    content: "\e665";
}
.icon-full-star:before {
    content: "\e666";
}
.icon-find-duplicates:before {
    content: "\e667";
}
.icon-fast-forward:before {
    content: "\e668";
}
.icon-facebook-onecolor:before {
    content: "\e669";
}
.icon-expand:before {
    content: "\e66c";
}
.icon-exclamation:before {
    content: "\e66d";
}
.icon-empty-star:before {
    content: "\e66e";
}
.icon-edit:before {
    content: "\e66f";
}
.icon-download:before {
    content: "\e670";
}
.icon-down-triangle:before {
    content: "\e671";
}
.icon-document:before {
    content: "\e672";
}
.icon-delete:before {
    content: "\e673";
}
.icon-contacts:before {
    content: "\e674";
}
.icon-contact:before {
    content: "\e675";
}
.icon-collapse:before {
    content: "\e676";
}
.icon-close:before {
    content: "\e677";
}
.icon-close-circle:before {
    content: "\e679";
}
.icon-clone:before {
    content: "\e67a";
}
.icon-check:before {
    content: "\e67b";
}
.icon-chat2:before {
    content: "\e67c";
}
.icon-calendar:before {
    content: "\e67e";
}
.icon-attachment:before {
    content: "\e67f";
}
.icon-arrow3:before {
    content: "\e680";
}
.icon-arrow:before {
    content: "\e681";
}
.icon-arrow-up:before {
    content: "\e682";
}
.icon-arrow-down:before {
    content: "\e683";
}
.icon-arrow-circle:before {
    content: "\e684";
}
.icon-announcement:before {
    content: "\e685";
}
.icon-add:before {
    content: "\e686";
}
.icon-add-task:before {
    content: "\e687";
}
.icon-add-tag:before {
    content: "\e688";
}
.icon-add-requisition:before {
    content: "\e689";
}
.icon-add-note:before {
    content: "\e68a";
}
.icon-add-message:before {
    content: "\e68b";
}
.icon-add-link:before {
    content: "\e690";
}
.icon-add-folder:before {
    content: "\e691";
}
.icon-add-document:before {
    content: "\e692";
}
.icon-add-contact:before {
    content: "\e693";
}
.icon-add-candidate:before {
    content: "\e696";
}
