@charset "UTF-8";

@font-face {
  font-family: "hrsmart-new-ui";
  src:url("hrsmart-new-ui.eot");
  src:url("hrsmart-new-ui.eot?#iefix") format("embedded-opentype"),
    url("hrsmart-new-ui.woff") format("woff"),
    url("hrsmart-new-ui.ttf") format("truetype"),
    url("hrsmart-new-ui.svg#hrsmart-new-ui") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hrsmart-new-ui" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.huaicon
{
	display:inline-block;
	font:normal normal normal 14px/1 "hrsmart-new-ui";
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform:translate(0,0);
	speak:none;
	vertical-align:middle;
}

/*
.huaicon:before{
  font-family: "hrsmart-new-ui" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

.huaicon-lg
{
	font-size:1.33333333em;
	line-height:.75em;
	vertical-align:-15%;
}
.huaicon-md
{
	font-size:1.142857142857143em;
	line-height:.75em;
}
.huaicon-2x
{
	font-size:2em;
}
.huaicon-3x
{
	font-size:3em;
}
.huaicon-4x
{
	font-size:4em;
}
.huaicon-5x
{
	font-size:5em;
}
.huaicon-fw
{
	width:1.28571429em;
	text-align:center;
}

.huaicon-checklist:before {
  content: "c";
}
.huaicon-book-text:before {
  content: "a";
}
.huaicon-newspaper:before {
  content: "b";
}
.huaicon-target:before {
  content: "d";
}
.huaicon-pulse:before {
  content: "e";
}
.huaicon-radio-tower:before {
  content: "f";
}
.huaicon-onboarding:before {
  content: "i";
}
.huaicon-combine:before {
  content: "j";
}
.huaicon-podium:before {
  content: "l";
}
.huaicon-brush:before {
  content: "m";
}
.huaicon-palette:before {
  content: "n";
}
.huaicon-repo:before {
  content: "p";
}
.huaicon-repo-pull:before {
  content: "q";
}
.huaicon-no-newline:before {
  content: "r";
}
.huaicon-hourglass:before {
  content: "u";
}
.huaicon-file-media:before {
  content: "w";
}
.huaicon-sitemap:before {
  content: "x";
}
.huaicon-book-text-add:before {
  content: "y";
}
.huaicon-book-text-remove:before {
  content: "z";
}
.huaicon-address-book:before {
  content: "t";
}
.huaicon-page-search:before {
  content: "C";
}
.huaicon-group-full:before {
  content: "D";
}
.huaicon-user-half:before {
  content: "F";
}
.huaicon-mortar-board:before {
  content: "o";
}
.huaicon-folder-check:before {
  content: "v";
}
.huaicon-stop:before {
  content: "G";
}
.huaicon-arrow-big-up:before {
  content: "H";
}
.huaicon-arrow-big-down:before {
  content: "I";
}
.huaicon-equal:before {
  content: "J";
}
.huaicon-milestone:before {
  content: "g";
}
.huaicon-forbidden:before {
  content: "K";
}
.huaicon-file-settings:before {
  content: "s";
}
.huaicon-window-settings:before {
  content: "L";
}
.huaicon-award-fill:before {
  content: "h";
}