.ls-container {
	visibility: hidden;
	position: relative;
	z-index: 0
}
.ls-inner {
	position: relative;
	background-position: center center;
	z-index: 2;
	overflow: hidden
}
.ls-loading-container {
	position: absolute!important;
	display: none;
	z-index: 3!important;
	left: 50%!important;
	top: 50%!important
}
.ls-loading-indicator {
	margin: 0 auto
}
.ls-inner, .ls-slide {
	width: 100%;
	height: 100%
}
.ls-slide {
	position: absolute;
	display: none;
	background-position: center center;
	overflow: hidden
}
.ls-animating {
	display: block!important
}
.ls-slide>* {
	position: absolute;
	line-height: normal;
	margin: 0;
	left: 0;
	top: 0
}
.ls-slide .ls-bg {
	left: 0;
	top: 0;
	transform: none!important;
	-o-transform: none!important;
	-ms-transform: none!important;
	-moz-transform: none!important;
	-webkit-transform: none!important
}
.ls-circle-timer {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 4;
	opacity: .65;
	display: none
}
.ls-ct-half {
	background: #fff
}
.ls-ct-center {
	background: #444
}
.ls-ct-left, .ls-ct-right {
	width: 50%;
	height: 100%;
	overflow: hidden
}
.ls-ct-left, .ls-ct-right {
	float: left;
	position: relative
}
.ls-ct-rotate {
	width: 200%;
	height: 100%;
	position: absolute;
	top: 0
}
.ls-ct-left .ls-ct-rotate, .ls-ct-right .ls-ct-half, .ls-ct-right .ls-ct-hider {
	left: 0
}
.ls-ct-left .ls-ct-half, .ls-ct-left .ls-ct-hider, .ls-ct-right .ls-ct-rotate {
	right: 0
}
.ls-ct-half, .ls-ct-hider {
	position: absolute;
	top: 0
}
.ls-ct-hider {
	width: 50%;
	height: 100%;
	overflow: hidden
}
.ls-ct-half {
	width: 200%;
	height: 100%
}
.ls-ct-center {
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	position: absolute
}
.ls-ct-center, .ls-ct-half {
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px
}
.ls-nav-start {
	position: relative
}
.ls-link {
	position: absolute;
	width: 100%!important;
	height: 100%!important;
	left: 0!important;
	top: 0!important;
	background-image: url(blank.gif)
}
.ls-slide>a>* {
	background-image: url(blank.gif)
}
.ls-shadow {
	display: none;
	position: absolute;
	z-index: 1;
	top: 100%;
	width: 100%;
	left: 0;
	overflow: hidden!important;
	visibility: hidden
}
.ls-shadow img {
	width: 100%!important;
	height: auto!important;
	position: absolute!important;
	left: 0!important;
	bottom: 0!important
}
.ls-wp-fullwidth-container {
	width: 100%;
	position: relative
}
.ls-wp-fullwidth-helper {
	position: absolute
}
.ls-3d-container {
	position: relative;
	overflow: visible!important
}
#ls-global * .ls-container img, body * .ls-container img, html * .ls-container img {
	transition: none;
	-o-transition: none;
	-ms-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	line-height: normal;
	outline: 0;
	padding: 0;
	border: 0
}
#ls-global * .ls-slide>*, #ls-global * .ls-slide>a, #ls-global * .ls-slide>div, #ls-global * .ls-slide>h1, #ls-global * .ls-slide>h2, #ls-global * .ls-slide>h3, #ls-global * .ls-slide>h4, #ls-global * .ls-slide>h5, #ls-global * .ls-slide>p, #ls-global * .ls-slide>span, body * .ls-slide>*, body * .ls-slide>a, body * .ls-slide>div, body * .ls-slide>h1, body * .ls-slide>h2, body * .ls-slide>h3, body * .ls-slide>h4, body * .ls-slide>h5, body * .ls-slide>p, body * .ls-slide>span, html * .ls-slide>*, html * .ls-slide>a, html * .ls-slide>div, html * .ls-slide>h1, html * .ls-slide>h2, html * .ls-slide>h3, html * .ls-slide>h4, html * .ls-slide>h5, html * .ls-slide>p, html * .ls-slide>span {
	transition: none;
	-o-transition: none;
	-ms-transition: none;
	-moz-transition: none;
	-webkit-transition: none
}
#ls-global * .ls-slide>*, body * .ls-slide>*, html * .ls-slide>* {
	margin: 0
}
#ls-global * .ls-container img, body * .ls-container img, html * .ls-container img {
	background: 0 0!important;
	min-width: 0!important;
	max-width: none!important;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	padding: 0
}
#ls-global * .ls-wp-container .ls-slide>*, body * .ls-wp-container .ls-slide>*, html * .ls-wp-container .ls-slide>* {
	line-height: normal;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0
}
#ls-global * .ls-wp-container .ls-slide>a>*, body * .ls-wp-container .ls-slide>a>*, html * .ls-wp-container .ls-slide>a>* {
	margin: 0
}
#ls-global * .ls-wp-container .ls-slide>a, body * .ls-wp-container .ls-slide>a, html * .ls-wp-container .ls-slide>a {
	text-decoration: none
}
.ls-container, .ls-container *, .ls-wp-fullwidth-container, .ls-wp-fullwidth-helper {
	box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	-webkit-box-sizing: content-box!important
}
#ls-global * .ls-container .ls-3d-container, #ls-global * .ls-container .ls-shadow, #ls-global * .ls-container .ls-slide>*, .ls-gpuhack, body * .ls-container .ls-3d-container, body * .ls-container .ls-shadow, body * .ls-container .ls-slide>*, html * .ls-container .ls-3d-container, html * .ls-container .ls-shadow, html * .ls-container .ls-slide>* {
	transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0)
}
.ls-gpuhack {
	width: 100%!important;
	height: 100%!important;
	left: 0!important;
	top: 0!important
}
.ls-nav-start {
	text-indent: -9999px
}