.sprite { background: url('https://file0.ca.static.hrsmart.com/18.3.0/images/sprite.png') no-repeat top left; _background: url('https://file0.ca.static.hrsmart.com/18.3.0/images/sprite.gif') no-repeat top left; }
.sprite-activate{ background-position: 0 0; width: 18px; height: 18px; } 
.sprite-active{ background-position: 0 -38px; width: 16px; height: 16px; } 
.sprite-active_disabled{ background-position: 0 -74px; width: 16px; height: 16px; } 
.sprite-activities{ background-position: 0 -110px; width: 16px; height: 16px; } 
.sprite-add{ background-position: 0 -146px; width: 16px; height: 16px; } 
.sprite-add_as_favorite{ background-position: 0 -182px; width: 16px; height: 16px; } 
.sprite-add_as_favorite_disabled{ background-position: 0 -218px; width: 16px; height: 16px; } 
.sprite-add_disabled{ background-position: 0 -254px; width: 16px; height: 16px; } 
.sprite-add_translation { background-position: -45px 0; height: 16px; width: 16px;}
.sprite-add_user{ background-position: 0 -290px; width: 16px; height: 16px; } 
.sprite-add_users{ background-position: 0 -326px; width: 16px; height: 16px; } 
.sprite-add_users_disabled{ background-position: 0 -362px; width: 16px; height: 16px; } 
.sprite-addasjobseeker{ background-position: 0 -398px; width: 16px; height: 16px; } 
.sprite-addclass{ background-position: 0 -434px; width: 16px; height: 16px; } 
.sprite-approve{ background-position: 0 -470px; width: 16px; height: 16px; } 
.sprite-approve_disabled{ background-position: 0 -506px; width: 16px; height: 16px; } 
.sprite-archive{ background-position: 0 -542px; width: 16px; height: 16px; } 
.sprite-assignments{ background-position: 0 -578px; width: 16px; height: 16px; } 
.sprite-attach{ background-position: 0 -614px; width: 16px; height: 16px; } 
.sprite-attachment{ background-position: 0 -650px; width: 16px; height: 16px; } 
.sprite-attendence{ background-position: 0 -686px; width: 16px; height: 16px; } 
.sprite-breadcrumb_home{ background-position: 0 -722px; width: 24px; height: 24px; } 
.sprite-calendar{ background-position: 0 -766px; width: 16px; height: 16px; } 
.sprite-cancel{ background-position: 0 -802px; width: 16px; height: 16px; } 
.sprite-candidate_workbench{ background-position: 0 -838px; width: 16px; height: 16px; } 
.sprite-career_paths{ background-position: 0 -874px; width: 24px; height: 24px; } 
.sprite-cart{ background-position: 0 -918px; width: 16px; height: 16px; } 
.sprite-cart_disabled{ background-position: 0 -954px; width: 16px; height: 16px; } 
.sprite-changestatus{ background-position: 0 -990px; width: 16px; height: 16px; } 
.sprite-chart{ background-position: 0 -1026px; width: 16px; height: 16px; } 
.sprite-check{ background-position: 0 -1062px; width: 16px; height: 16px; } 
.sprite-check{ background-position: 0 -1098px; width: 16px; height: 16px; } 
.sprite-check_disabled{ background-position: 0 -1134px; width: 16px; height: 16px; } 
.sprite-checklist{ background-position: 0 -1170px; width: 16px; height: 16px; } 
.sprite-clear{ background-position: 0 -1206px; width: 16px; height: 16px; } 
.sprite-clone{ background-position: 0 -1242px; width: 16px; height: 16px; } 
.sprite-competencies{ background-position: 0 -1278px; width: 16px; height: 16px; } 
.sprite-completed{ background-position: 0 -1314px; width: 16px; height: 16px; } 
.sprite-contacts{ background-position: 0 -1350px; width: 16px; height: 16px; } 
.sprite-copy{ background-position: 0 -1386px; width: 16px; height: 16px; } 
.sprite-cost{ background-position: 0 -1422px; width: 16px; height: 16px; } 
.sprite-cost{ background-position: 0 -1458px; width: 16px; height: 16px; } 
.sprite-cost_disabled{ background-position: 0 -1494px; width: 16px; height: 16px; } 
.sprite-coverletter{ background-position: 0 -1530px; width: 16px; height: 16px; } 
.sprite-coverletter_disabled{ background-position: 0 -1566px; width: 16px; height: 16px; } 
.sprite-create_award_plan{ background-position: 0 -1602px; width: 16px; height: 16px; } 
.sprite-createnew{ background-position: 0 -1638px; width: 16px; height: 16px; } 
.sprite-crosspost{ background-position: 0 -1674px; width: 16px; height: 16px; } 
.sprite-crosspost_warning{ background-position: 0 -1710px; width: 16px; height: 16px; } 
.sprite-cube_yellow{ background-position: 0 -1746px; width: 16px; height: 16px; } 
.sprite-default{ background-position: 0 -1782px; width: 16px; height: 16px; } 
.sprite-default_scale_cdsp{ background-position: 0 -1818px; width: 16px; height: 16px; } 
.sprite-default_scale_hua{ background-position: 0 -1854px; width: 16px; height: 16px; } 
.sprite-delete{ background-position: 0 -1890px; width: 16px; height: 16px; } 
.sprite-delete_disabled{ background-position: 0 -1926px; width: 16px; height: 16px; } 
.sprite-devneeds{ background-position: 0 -1962px; width: 16px; height: 16px; } 
.sprite-document_add{ background-position: -44px 0; width: 16px; height: 16px; } 
.sprite-document_delete{ background-position: -44px -36px; width: 16px; height: 16px; } 
.sprite-document_ok{ background-position: -44px -72px; width: 16px; height: 16px; } 
.sprite-document_warning{ background-position: -44px -108px; width: 16px; height: 16px; } 
.sprite-domino{ background-position: -44px -144px; width: 12px; height: 14px; } 
.sprite-download{ background-position: -44px -178px; width: 16px; height: 16px; } 
.sprite-drilldown{ background-position: -44px -214px; width: 16px; height: 16px; } 
.sprite-drillup{ background-position: -44px -250px; width: 16px; height: 16px; } 
.sprite-edit{ background-position: -44px -286px; width: 16px; height: 16px; } 
.sprite-edit_award_plan{ background-position: -44px -322px; width: 16px; height: 16px; } 
.sprite-edit_disabled{ background-position: -44px -358px; width: 16px; height: 16px; } 
.sprite-email{ background-position: -44px -394px; width: 16px; height: 16px; } 
.sprite-email_disabled{ background-position: -44px -430px; width: 16px; height: 16px; } 
.sprite-end{ background-position: -44px -466px; width: 16px; height: 16px; } 
.sprite-end_disabled{ background-position: -44px -502px; width: 16px; height: 16px; } 
.sprite-enroll_student{ background-position: -44px -538px; width: 16px; height: 16px; } 
.sprite-enroll_student_disabled{ background-position: -44px -574px; width: 16px; height: 16px; } 
.sprite-enroll_self {background-position: -217px -1801px;height: 16px;width: 16px;}
.sprite-enroll_self_disabled {background-position: -217px -1837px;height: 16px;width: 16px;}
.sprite-equivalent{ background-position: -44px -610px; width: 16px; height: 16px; } 
.sprite-evaluate{ background-position: -44px -646px; width: 16px; height: 16px; } 
.sprite-evaluate_disabled{ background-position: -44px -682px; width: 16px; height: 16px; } 
.sprite-expand{ background-position: -44px -718px; width: 16px; height: 16px; } 
.sprite-export{ background-position: -44px -754px; width: 16px; height: 16px; } 
.sprite-faq{ background-position: -44px -790px; width: 16px; height: 16px; } 
.sprite-favorites_icon{ background-position: -44px -826px; width: 32px; height: 32px; } 
.sprite-feedback{ background-position: -44px -878px; width: 16px; height: 16px; } 
.sprite-filter_small{ background-position: -44px -914px; width: 12px; height: 10px; } 
.sprite-finalizegrades{ background-position: -44px -944px; width: 16px; height: 16px; } 
.sprite-find{ background-position: -44px -980px; width: 16px; height: 16px; } 
.sprite-find_matching_employees{ background-position: -44px -1016px; width: 16px; height: 16px; } 
.sprite-find_matching_resumes{ background-position: -44px -1052px; width: 16px; height: 16px; } 
.sprite-former_employee{ background-position: -44px -1088px; width: 16px; height: 16px; } 
.sprite-gradebook{ background-position: -44px -1124px; width: 16px; height: 16px; } 
.sprite-grantcert{ background-position: -44px -1160px; width: 16px; height: 16px; } 
.sprite-has_subitem{ background-position: -44px -1196px; width: 16px; height: 10px; } 
.sprite-help{ background-position: -44px -1226px; width: 16px; height: 16px; } 
.sprite-hide_hua_utility_menu{ background-position: -44px -1262px; width: 21px; height: 26px; } 
.sprite-hrsmart_logo{ background-position: -44px -1308px; width: 65px; height: 65px; } 
.sprite-hrsmart_logo_inactive{ background-position: -44px -1393px; width: 65px; height: 65px; } 
.sprite-hua_utility_menu_arrow_ltr{ background-position: -44px -1478px; width: 21px; height: 26px; } 
.sprite-hua_utility_menu_arrow_rtl{ background-position: -44px -1524px; width: 21px; height: 26px; } 
.sprite-inactive{ background-position: -44px -1570px; width: 16px; height: 16px; } 
.sprite-inactive_disabled{ background-position: -44px -1606px; width: 16px; height: 16px; } 
.sprite-info_small{ background-position: -44px -1642px; width: 11px; height: 12px; } 
.sprite-info_small_disabled{ background-position: -44px -1674px; width: 11px; height: 12px; } 
.sprite-initiate_on{ background-position: -44px -1706px; width: 16px; height: 16px; } 
.sprite-is_favorite{ background-position: -44px -1742px; width: 16px; height: 16px; } 
.sprite-key{ background-position: -44px -1778px; width: 16px; height: 16px; } 
.sprite-key_disabled{ background-position: -44px -1814px; width: 16px; height: 16px; } 
.sprite-letters{ background-position: -44px -1850px; width: 16px; height: 16px; } 
.sprite-login{ background-position: -44px -1886px; width: 16px; height: 16px; } 
.sprite-logout{ background-position: -44px -1922px; width: 16px; height: 16px; } 
.sprite-mail_forward{ background-position: -44px -1958px; width: 16px; height: 16px; } 
.sprite-mail_sent{ background-position: -129px 0; width: 16px; height: 16px; } 
.sprite-make_default{ background-position: -129px -36px; width: 16px; height: 16px; } 
.sprite-make_default_disabled{ background-position: -129px -72px; width: 16px; height: 16px; } 
.sprite-make_default_scale_cdsp{ background-position: -129px -108px; width: 16px; height: 16px; } 
.sprite-make_default_scale_hua{ background-position: -129px -144px; width: 16px; height: 16px; } 
.sprite-make_new_hire_orientation{ background-position: -129px -180px; width: 16px; height: 16px; } 
.sprite-makedefault{ background-position: -129px -216px; width: 16px; height: 16px; } 
.sprite-managepositions{ background-position: -129px -252px; width: 16px; height: 16px; } 
.sprite-managepositions_disabled{ background-position: -129px -288px; width: 16px; height: 16px; } 
.sprite-masquerade_user{ background-position: -129px -324px; width: 16px; height: 16px; } 
.sprite-money{ background-position: -129px -360px; width: 16px; height: 16px; } 
.sprite-more-info{ background-position: -129px -396px; width: 16px; height: 16px; } 
.sprite-more-info_disabled{ background-position: -129px -432px; width: 16px; height: 16px; } 
.sprite-move_down{ background-position: -129px -468px; width: 16px; height: 16px; } 
.sprite-move_down_disabled{ background-position: -129px -504px; width: 16px; height: 16px; } 
.sprite-move_left{ background-position: -129px -540px; width: 16px; height: 16px; } 
.sprite-move_left_disabled{ background-position: -129px -576px; width: 16px; height: 16px; } 
.sprite-move_right{ background-position: -129px -612px; width: 16px; height: 16px; } 
.sprite-move_right_disabled{ background-position: -129px -648px; width: 16px; height: 16px; } 
.sprite-move_up{ background-position: -129px -684px; width: 16px; height: 16px; } 
.sprite-move_up_disabled{ background-position: -129px -720px; width: 16px; height: 16px; } 
.sprite-movedown{ background-position: -129px -756px; width: 16px; height: 16px; } 
.sprite-moveup{ background-position: -129px -792px; width: 16px; height: 16px; } 
.sprite-new_hire_orientation{ background-position: -129px -828px; width: 16px; height: 16px; } 
.sprite-no_goals_set{ background-position: -129px -864px; width: 16px; height: 16px; } 
.sprite-note{ background-position: -129px -900px; width: 16px; height: 16px; } 
.sprite-notes{ background-position: -129px -936px; width: 16px; height: 16px; } 
.sprite-notifications{ background-position: -129px -972px; width: 16px; height: 16px; } 
.sprite-on_target{ background-position: -129px -1008px; width: 16px; height: 16px; } 
.sprite-on_time{ background-position: -129px -1044px; width: 16px; height: 16px; } 
.sprite-onboarding{ background-position: -129px -1080px; width: 16px; height: 16px; } 
.sprite-outlook{ background-position: -129px -1116px; width: 16px; height: 16px; } 
.sprite-page_instructions{ background-position: -129px -1152px; width: 14px; height: 16px; } 
.sprite-past_due{ background-position: -129px -1188px; width: 16px; height: 16px; } 
.sprite-past_tuition_assistance_requests{ background-position: -129px -1224px; width: 16px; height: 16px; } 
.sprite-print{ background-position: -129px -1260px; width: 16px; height: 16px; } 
.sprite-print{ background-position: -129px -1296px; width: 16px; height: 16px; } 
.sprite-print_disabled{ background-position: -129px -1332px; width: 16px; height: 16px; } 
.sprite-reassign_appraisal{ background-position: -129px -1368px; width: 16px; height: 16px; } 
.sprite-reassign_appraisal_disabled{ background-position: -129px -1404px; width: 16px; height: 16px; } 
.sprite-recommendations{ background-position: -129px -1440px; width: 16px; height: 16px; } 
.sprite-red_stop{ background-position: -129px -1476px; width: 16px; height: 16px; } 
.sprite-red_stop_disabled{ background-position: -129px -1512px; width: 16px; height: 16px; } 
.sprite-refresh{ background-position: -129px -1548px; width: 16px; height: 16px; } 
.sprite-refresh{ background-position: -129px -1584px; width: 16px; height: 16px; } 
.sprite-refresh_disabled{ background-position: -129px -1620px; width: 16px; height: 16px; } 
.sprite-reissue_offer{ background-position: -129px -1656px; width: 16px; height: 16px; } 
.sprite-reject{ background-position: -129px -1692px; width: 16px; height: 16px; } 
.sprite-reject_disabled{ background-position: -129px -1728px; width: 16px; height: 16px; } 
.sprite-reorder{ background-position: -129px -1764px; width: 16px; height: 16px; } 
.sprite-reorder_disabled{ background-position: -129px -1800px; width: 16px; height: 16px; } 
.sprite-reply_message{ background-position: -129px -1836px; width: 16px; height: 16px; } 
.sprite-request_tuition_assistance{ background-position: -129px -1872px; width: 16px; height: 16px; } 
.sprite-requisition_activity{ background-position: -129px -1908px; width: 16px; height: 16px; } 
.sprite-reset_password{ background-position: -129px -1944px; width: 16px; height: 16px; } 
.sprite-restore_appraisal{ background-position: -214px 0; width: 16px; height: 16px; } 
.sprite-restore_appraisal{ background-position: -214px -36px; width: 16px; height: 16px; } 
.sprite-resumeprofile{ background-position: -214px -72px; width: 16px; height: 16px; } 
.sprite-resumeprofile_disabled{ background-position: -214px -108px; width: 16px; height: 16px; } 
.sprite-retrieve{ background-position: -214px -144px; width: 16px; height: 16px; } 
.sprite-revert{ background-position: -214px -180px; width: 16px; height: 16px; } 
.sprite-revert_disabled{ background-position: -214px -216px; width: 16px; height: 16px; } 
.sprite-round_check{ background-position: -214px -252px; width: 16px; height: 16px; } 
.sprite-save{ background-position: -214px -288px; width: 16px; height: 16px; } 
.sprite-save_disabled{ background-position: -214px -324px; width: 16px; height: 16px; } 
.sprite-schedule{ background-position: -214px -360px; width: 16px; height: 16px; } 
.sprite-score{ background-position: -214px -396px; width: 16px; height: 16px; } 
.sprite-screening_questionnaire{ background-position: -214px -432px; width: 16px; height: 16px; } 
.sprite-search{ background-position: -214px -468px; width: 16px; height: 16px; } 
.sprite-select{ background-position: -214px -504px; width: 16px; height: 16px; } 
.sprite-send_allpurpose{ background-position: -214px -540px; width: 16px; height: 16px; } 
.sprite-show_hua_utility_menu{ background-position: -214px -576px; width: 21px; height: 26px; } 
.sprite-show_less{ background-position: -214px -622px; width: 12px; height: 12px; } 
.sprite-show_more{ background-position: -214px -654px; width: 12px; height: 12px; } 
.sprite-show_more_ltr{ background-position: -214px -686px; width: 12px; height: 12px; } 
.sprite-show_more_rtl{ background-position: -214px -718px; width: 12px; height: 12px; } 
.sprite-signature{ background-position: -214px -750px; width: 16px; height: 16px; } 
.sprite-skills{ background-position: -214px -786px; width: 16px; height: 16px; } 
.sprite-social_media{ background-position: -214px -822px; width: 16px; height: 16px; } 
.sprite-star_red{ background-position: -214px -858px; width: 16px; height: 16px; } 
.sprite-start{ background-position: -214px -894px; width: 16px; height: 16px; } 
.sprite-start_disabled{ background-position: -214px -930px; width: 16px; height: 16px; } 
.sprite-stop{ background-position: -214px -966px; width: 16px; height: 16px; } 
.sprite-stop_disabled{ background-position: -214px -1002px; width: 16px; height: 16px; } 
.sprite-suggestions{ background-position: -214px -1038px; width: 16px; height: 16px; } 
.sprite-take_survey{ background-position: -214px -1074px; width: 16px; height: 16px; } 
.sprite-terminate_user{ background-position: -214px -1110px; width: 16px; height: 16px; } 
.sprite-tips{ background-position: -214px -1146px; width: 16px; height: 16px; } 
.sprite-tips_disabled{ background-position: -214px -1182px; width: 16px; height: 16px; } 
.sprite-transaction_log{ background-position: -214px -1218px; width: 16px; height: 16px; } 
.sprite-tuition_assistance_requested{ background-position: -214px -1254px; width: 16px; height: 16px; } 
.sprite-tuition_assistance_view{ background-position: -214px -1290px; width: 16px; height: 16px; } 
.sprite-tuition_summary{ background-position: -214px -1326px; width: 16px; height: 16px; } 
.sprite-unarchive{ background-position: -214px -1362px; width: 16px; height: 16px; } 
.sprite-unset_final_payment{ background-position: -214px -1398px; width: 16px; height: 16px; } 
.sprite-unset_final_payment_disabled{ background-position: -214px -1434px; width: 16px; height: 16px; } 
.sprite-users{ background-position: -214px -1470px; width: 16px; height: 16px; } 
.sprite-view{ background-position: -214px -1506px; width: 16px; height: 16px; } 
.sprite-view_award_plan{ background-position: -214px -1542px; width: 16px; height: 16px; } 
.sprite-view_disabled{ background-position: -214px -1578px; width: 16px; height: 16px; } 
.sprite-view_more_actions{ background-position: -214px -1614px; width: 16px; height: 16px; } 
.sprite-view_survey_results{ background-position: -214px -1650px; width: 16px; height: 16px; } 
.sprite-viewgap{ background-position: -214px -1686px; width: 16px; height: 16px; } 
.sprite-finalizegrades_disabled{ background-position: -214px -1722px; width: 16px; height: 16px; } 
.sprite-seemore{ background-position: -214px -1764px; width: 16px; height: 16px; } 