.icon {
	font-family: wcmsextended;
	speak: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1em;
	line-height: 1;
	vertical-align: middle;
	font-weight: 400;
	margin: 0 .25em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

	.icon:focus:before, .icon:hover:before {
		transition: all .5s ease
	}

	.icon.eye:before {
		content: "\e2d9"
	}

	.icon.bubble:before {
		content: "\e150"
	}

	.icon.bubbles:before {
		content: "\e151"
	}

	.icon.quotes-left:before {
		content: "\e19f"
	}

	.icon.file-empty:before {
		content: "\e085"
	}

	.icon.file-filled:before {
		content: "\e086"
	}

	.icon.envelop:before, .icon.envelope:before {
		content: "\e48f"
	}

	.icon.forward:before {
		content: "\e602"
	}

	.icon.reply:before {
		content: "\e603"
	}

	.icon.undo:before {
		content: "\e13b"
	}

	.icon.redo:before {
		content: "\e13c"
	}

	.icon.map:before {
		content: "\e0fc"
	}

	.icon.location:before {
		content: "\e0f1"
	}

	.icon.compass:before {
		content: "\e0f9"
	}

	.icon.exit:before {
		content: "\e37e"
	}

	.icon.external:before, .icon.new-tab:before {
		content: "\e47c"
	}

	.icon.bookmark:before {
		content: "\e2e3"
	}

	.icon.lock:before, .icon.secure:before {
		content: "\e1d1"
	}

	.icon.filter:before {
		content: "\e445"
	}

	.icon.stack:before {
		content: "\e096"
	}

	.icon.pie:before {
		content: "\e1f7"
	}

	.icon.stats:before {
		content: "\e1fe"
	}

	.icon.bars:before {
		content: "\e201"
	}

	.icon.tree:before {
		content: "\e2a8"
	}

	.icon.signup:before {
		content: "\e296"
	}

	.icon.user:before {
		content: "\e197"
	}

	.icon.cogs:before {
		content: "\e1e0"
	}

	.icon.image:before {
		content: "\e02c"
	}

	.icon.newspaper:before {
		content: "\e00c"
	}

	.icon.edit:before, .icon.pencil:before {
		content: "\e00d"
	}

	.icon.download:before {
		content: "\e600"
	}

	.icon.upload:before {
		content: "\e601"
	}

	.icon.calendar:before {
		content: "\f073"
	}

	.icon.search:before {
		content: "\e1ba"
	}

	.icon.tag:before {
		content: "\f02b"
	}

	.icon.tags:before {
		content: "\f02c"
	}

	.icon.clock:before {
		content: "\e102"
	}

	.icon.star:before {
		content: "\e301"
	}

	.icon.play:before {
		content: "\e042"
	}

	.icon.phone:before {
		content: "\e0dc"
	}

	.icon.loop:before {
		content: "\e3a8"
	}

	.icon.double-angle-left:before {
		content: "\f100"
	}

	.icon.double-angle-right:before {
		content: "\f101"
	}

	.icon.angle-left:before {
		content: "\f104"
	}

	.icon.angle-right:before {
		content: "\f105"
	}

	.icon.arrow-left:before {
		content: "\e60d"
	}

	.icon.arrow-right:before {
		content: "\e60e"
	}

	.icon.sort:before {
		content: "\f0dc"
	}

	.icon.sort-down:before, .sorting_desc .icon.sort:before {
		content: "\f0dd"
	}

	.icon.sort-up:before, .sorting_asc .icon.sort:before {
		content: "\f0de"
	}

	.icon.collapse:before, .icon.slimdrop:before {
		content: "\f150"
	}

	.icon.collapse-top:before, .open .icon.slimdrop:before {
		content: "\f151"
	}

	.icon.plus-sign:before, .icon.plus:before {
		content: "\f055"
	}

	.icon.minus-sign:before, .icon.minus:before {
		content: "\f056"
	}

	.icon.cancel:before, .icon.danger:before, .icon.remove:before {
		content: "\f057"
	}

	.icon.checkmark:before, .icon.ok:before, .icon.tick:before {
		content: "\f058"
	}

	.icon.question:before {
		content: "\f059"
	}

	.icon.info:before {
		content: "\f05a"
	}

	.icon.exclamation:before, .icon.notification:before, .icon.warn:before {
		content: "\f071"
	}

	.icon.code:before {
		content: "\f121"
	}

	.icon.target:before {
		content: "\e27b"
	}

	.icon.attachment:before, .icon.paperclip:before {
		content: "\e2d7"
	}

	.icon.print:before {
		content: "\e118"
	}

	.icon.cloud-download:before {
		content: "\e604"
	}

	.icon.cloud-upload:before {
		content: "\e605"
	}

	.icon.pause:before {
		content: "\e64c"
	}

	.icon.chevron-left:before {
		content: "\e64d"
	}

	.icon.chevron-right:before {
		content: "\e64e"
	}

	.icon.accessibility:before {
		content: "\e277"
	}

	.icon.link:before {
		content: "\e2cd"
	}

	.icon.man:before {
		content: "\e318"
	}

	.icon.male:before {
		content: "\e319"
	}

	.icon.woman:before {
		content: "\e31a"
	}

	.icon.female:before {
		content: "\e31b"
	}

	.icon.rssfeed, .icon.newsletter, .icon.tripadvisor, .icon.facebook, .icon.google-plus, .icon.linkedin, .icon.pinterest, .icon.tumblr, .icon.twitter, .icon.vimeo, .icon.wordpress, .icon.instagram, .icon.you-tube {
		font-size: 2.5rem !important;
		transition: none !important;
	}

	.icon.tripadvisor:before {
		content: "\e902";
		color: #34e0a1
	}
	 .inlined a {
		 transition: none;
	 }

	.icon.instagram:before {
		content: "\e900";
		color: rgba(225, 64, 97, .65)
	}

	.icon.you-tube:before {
		content: "\e901";
		color: rgba(204, 24, 29, .65)
	}

	.icon.vimeo:before {
		content: "\e606";
		color: rgba(0, 0, 0, .65)
	}

	.icon.tweet:before, .icon.twitter:before {
		content: "\e607"
	}

	.icon.twitter:before {
		color: rgba(0, 172, 238, 1)
	}

	.icon.tweet:before {
		color: rgba(0, 172, 238, 1)
	}

	.icon.facebook:before {
		content: "\e608";
		color: rgba(59, 89, 152, 1)
	}

	.icon.google-plus:before {
		content: "\e609";
		color: rgba(221, 75, 57, .65)
	}

	.icon.pinterest:before {
		content: "\e60a";
		color: rgba(203, 32, 40, .65)
	}

	.icon.tumblr:before {
		content: "\e60f";
		color: rgba(63, 89, 112, .65)
	}

	.icon.linkedin:before {
		content: "\e60b";
		color: rgba(0, 115, 178, .65)
	}

	.icon.wordpress:before {
		content: "\e610";
		color: rgba(0, 115, 178, .65)
	}

	.icon.newsletter:before {
		content: "\e491";
	}

	.icon.rssfeed:before {
		content: "\e4a2";
		color: rgba(255, 170, 18, .65)
	}

	.icon.tripadvisor:before {
		border: none;
		padding: 0;
	}

	.tripadvisor{
		background: black;
		border-radius: 50%;

	}

	.icon.vimeo:focus:before, .icon.vimeo:hover:before {
		color: rgba(0, 0, 0, 1);
		border: .125rem solid rgba(0, 0, 0, .25)
	}

	.icon.you-tube:focus:before, .icon.you-tube:hover:before {
		color: rgba(204, 24, 29, 1);
		border: .125rem solid rgba(204, 24, 29, .25)
	}

	.icon.instagram:focus:before, .icon.instagram:hover:before {
		color: rgba(225, 64, 97, 1);
		border: .125rem solid rgba(225, 64, 97, .25)
	}

	.icon.twitter:focus:before, .icon.twitter:hover:before {
		color: rgba(0, 172, 238, 1);
		border: .125rem solid rgba(0, 172, 238, .25)
	}

	.icon.facebook:focus:before, .icon.facebook:hover:before {
		color: rgba(59, 89, 152, 1);
		border: .125rem solid rgba(59, 89, 152, .25)
	}

	.icon.google-plus:focus:before, .icon.google-plus:hover:before {
		color: rgba(221, 75, 57, 1);
		border: .125rem solid rgba(221, 75, 57, .25)
	}

	.icon.pinterest:focus:before, .icon.pinterest:hover:before {
		color: rgba(203, 32, 40, 1);
		border: .125rem solid rgba(203, 32, 40, .25)
	}

	.icon.tumblr:focus:before, .icon.tumblr:hover:before {
		color: rgba(63, 89, 112, 1);
		border: .125rem solid rgba(63, 89, 112, .25)
	}

	.icon.linkedin:focus:before, .icon.linkedin:hover:before, .icon.wordpress:focus:before, .icon.wordpress:hover:before {
		color: rgba(0, 115, 178, 1);
		border: .125rem solid rgba(0, 115, 178, .25)
	}

	.icon.newsletter:focus:before, .icon.newsletter:hover:before {
		color: rgba(118, 30, 163, 1);
		border: .125rem solid rgba(118, 30, 163, .25)
	}

	.icon.rssfeed:focus:before, .icon.rssfeed:hover:before {
		color: rgba(255, 170, 18, 1);
		border: .125rem solid rgba(255, 170, 18, .25)
	}

	.icon.share.vimeo:after {
		background-color: rgba(0, 0, 0, .65)
	}

	.icon.share.twitter:after {
		background-color: rgba(0, 172, 238, .65)
	}

	.icon.share.facebook:after {
		background-color: rgba(59, 89, 152, .65)
	}

	.icon.share.google-plus:after {
		background-color: rgba(221, 75, 57, .65)
	}

	.icon.share.pinterest:after {
		background-color: rgba(203, 32, 40, .65)
	}

	.icon.share.tumblr:after {
		background-color: rgba(63, 89, 112, .65)
	}

	.icon.share.linkedin:after, .icon.share.wordpress:after {
		background-color: rgba(0, 115, 178, .65)
	}

	.icon.share.newsletter:after {
		background-color: rgba(118, 30, 163, .65)
	}

	.icon.share.vimeo:focus:before, .icon.share.vimeo:hover:before {
		background-color: rgba(0, 0, 0, 1)
	}

	.icon.share.twitter:focus:after, .icon.share.twitter:hover:after {
		background-color: rgba(0, 172, 238, 1)
	}

	.icon.share.facebook:focus:after, .icon.share.facebook:hover:after {
		background-color: rgba(59, 89, 152, 1)
	}

	.icon.share.google-plus:focus:after, .icon.share.google-plus:hover:after {
		background-color: rgba(221, 75, 57, 1)
	}

	.icon.share.pinterest:focus:after, .icon.share.pinterest:hover:after {
		background-color: rgba(203, 32, 40, 1)
	}

	.icon.share.tumblr:focus:after, .icon.share.tumblr:hover:after {
		background-color: rgba(63, 89, 112, 1)
	}

	.icon.share.linkedin:focus:after, .icon.share.linkedin:hover:after, .icon.share.wordpress:focus:after, .icon.share.wordpress:hover:after {
		background-color: rgba(0, 115, 178, 1)
	}

	.icon.share.newsletter:focus:after, .icon.share.newsletter:hover:after {
		background-color: rgba(118, 30, 163, 1)
	}

	.icon.share.facebook:after, .icon.share.google-plus:after, .icon.share.linkedin:after, .icon.share.newsletter:after, .icon.share.pinterest:after, .icon.share.tumblr:after, .icon.share.twitter:after, .icon.share.vimeo:after, .icon.share.wordpress:after {
		border-radius: 500px 0 500px 500px;
		content: "";
		display: inline-block;
		height: 3rem;
		width: 3rem;
		transform: rotate(45deg);
		transition: all 1s ease
	}

	.icon.share.facebook:before, .icon.share.google-plus:before, .icon.share.linkedin:before, .icon.share.newsletter:before, .icon.share.pinterest:before, .icon.share.tumblr:before, .icon.share.twitter:before, .icon.share.vimeo:before, .icon.share.wordpress:before {
		border: none;
		border-radius: 500px;
		padding: 0;
		position: relative;
		right: -2.75rem;
		top: -.3rem;
		z-index: 1000;
		color: #fff
	}

	.icon.android:before {
		content: "\e4c8";
		color: #80bd01
	}

	.icon.chrome:before {
		content: "\e4ed";
		color: #ffd103
	}

	.icon.firefox:before {
		content: "\e4ee";
		color: #d05327
	}

	.icon.ie:before {
		content: "\e4ef";
		color: #0cf
	}

	.icon.opera:before {
		content: "\e4f0";
		color: #d32226
	}

	.icon.safari:before {
		content: "\e4f1";
		color: #2879b8
	}

	.icon.blackberry:before {
		content: "\e610";
		color: #000
	}

	.icon.white {
		color: #FFF
	}

	.icon.blue {
		color: #7EC2E9
	}

	.icon.green {
		color: #9FB549
	}

	.icon.yellow {
		color: #F1CE45
	}

	.icon.orange {
		color: #F3B24C
	}

	.icon.red {
		color: #DC5943
	}

	.icon.pink {
		color: #ED79BD
	}

	.icon.silver {
		color: #ccc
	}

	.icon.grey {
		color: #555
	}

	.icon.black {
		color: #333
	}

	.icon.dkred {
		color: #A61E21
	}

	.icon.dkblue {
		color: #1E74A5
	}

	.icon.purple {
		color: #761EA3
	}

	.icon.teal {
		color: #1E9CA3
	}

	.icon.shadowed {
		text-shadow: 0 3px 0 rgba(0, 0, 0, .2);
		box-shadow: none
	}

	.icon.small {
		font-size: .75em
	}

	.icon.medium {
		font-size: 1.5em
	}

	.icon.large {
		font-size: 2.5em
	}

	.icon.xtra-large {
		font-size: 4em
	}

	.icon.boxed {
		padding: .25em;
		margin: 0
	}

		.icon.boxed.blue {
			background-color: #7EC2E9;
			color: #fff
		}

		.icon.boxed.green {
			background-color: #9FB549;
			color: #fff
		}

		.icon.boxed.yellow {
			background-color: #F1CE45;
			color: #222
		}

		.icon.boxed.orange {
			background-color: #F3B24C;
			color: #fff
		}

		.icon.boxed.red {
			background-color: #DC5943;
			color: #fff
		}

		.icon.boxed.pink {
			background-color: #ED79BD;
			color: #fff
		}

		.icon.boxed.silver {
			background-color: #ccc;
			color: #222
		}

		.icon.boxed.grey {
			background-color: #555;
			color: #fff
		}

		.icon.boxed.black {
			background-color: #333;
			color: #fff
		}

	.icon.booklet-add:before {
		content: "\e603"
	}

	.icon.booklet-added:before {
		content: "\e604";
		color: #000;
		position: relative;
		z-index: 2000
	}

	.icon.booklet-added:after {
		content: "\e613";
		position: absolute;
		left: -.5rem;
		top: 0;
		font-size: 3rem;
		color: #e1e1e1;
		z-index: 1000;
		text-shadow: 0 .125rem 0 rgba(0, 0, 0, .25);
		box-shadow: none
	}

a:hover .icon.booklet-added:before {
	color: rgba(255, 255, 255, 1);
	transition: all .5s ease
}

a:hover .icon.booklet-added:after {
	color: rgba(0, 0, 0, 1);
	transition: all .5s ease
}

.breadcrumb li:before {
	margin: 0
}

.mm-menu #global_breadcrumb li:nth-child(3) a, .mm-menu #global_breadcrumb li:nth-child(3) span {
	padding-left: 1em
}

.mm-menu #global_breadcrumb li:nth-child(4) a, .mm-menu #global_breadcrumb li:nth-child(4) span {
	padding-left: 1.5em
}

.mm-menu #global_breadcrumb li:nth-child(5) a, .mm-menu #global_breadcrumb li:nth-child(5) span {
	padding-left: 2em
}

.mm-menu #global_breadcrumb li:nth-child(6) a, .mm-menu #global_breadcrumb li:nth-child(6) span {
	padding-left: 2.5em
}

.mm-menu #global_breadcrumb li:nth-child(7) a, .mm-menu #global_breadcrumb li:nth-child(7) span {
	padding-left: 3em
}

.mm-menu #global_breadcrumb li:nth-child(8) a, .mm-menu #global_breadcrumb li:nth-child(8) span {
	padding-left: 3.5em
}

.ico-navmenu:before {
	margin: 0 .25rem;
	content: "\2261";
	font-size: 1.5em;
	font-weight: 700;
	vertical-align: middle
}

a.noext[href^="https:"]:before, a.thumbnail[rel=external]:after, a.thumbnail[target="_blank"]:after {
	display: none
}

.icon-clear {
	display: inline-block
}

.checklist h3, .searchfilters h3 {
	margin-bottom: .25em
}

.checklist ul, .searchfilters ul {
	margin: 0;
	list-style-type: none
}

	.checklist ul li, .searchfilters ul li {
		list-style: none;
		margin-bottom: .5em
	}

.searchFilterList > a .checked {
	color: #222 !important;
	border-color: rgba(0,0,0,.25) !important;
	box-shadow: 0 .25rem 0 rgba(0,0,0,.1) inset !important;
	background-color: #ccc !important;
}

.checked, .radio-checked, .radio-unchecked, .unchecked {
	position: relative;
	width: 100%;
}

	.checked:before, .radio-checked:before, .radio-unchecked:before, .unchecked:before {
		content: "";
		display: inline-block;
		width: 1em;
		height: 1em;
		left: .5em;
		top: .75em;
		background: #fff;
		border: .0625em solid rgba(0, 0, 0, 1);
		border-radius: .25em;
		position: absolute;
		box-shadow: 0 .25rem 0 rgba(0, 0, 0, .1) inset
	}

	.checked:after, .radio-checked:after {
		content: "";
		left: .8em;
		position: absolute
	}

	.checked:after {
		width: .25em;
		height: .75em;
		border: .25em solid rgba(123, 140, 55, 1);
		top: .75em;
		border-width: 0 .25em .25em 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg)
	}

	.checked.disabled:after {
		border-color: rgba(0, 0, 0, .15)
	}

	.radio-checked:before, .radio-unchecked:before {
		border-radius: 10em
	}

	.radio-checked:after {
		background-color: rgba(159, 181, 73, 1);
		border-radius: 10em;
		height: .5em;
		top: 1.05em;
		width: .5em
	}

	.radio-checked.disabled:after {
		background-color: rgba(0, 0, 0, .15)
	}

.checklist.readonly ul li {
	color: #ccc
}
